<div class="align-item">
  <p class="my-auth-title">ONBOARDING</p>
  <p class="descriptif">Bienvenue dans votre espace de configuration<br>Veuillez vous connecter pour configurer les
    dossiers de vos agents</p>
  <div [formGroup]="loginForm" class="form-card">
    <h2>Authentification</h2>
    <mat-form-field appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input formControlName="username" matInput type="text">
      <mat-error>
        Champs Obligatoire
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input [type]="showPassword? 'text':'password'" formControlName="password" matInput>
      <mat-icon (click)=" showPassword=!showPassword; $event.stopPropagation() "
                matSuffix>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>
        Champs Obligatoire
      </mat-error>
    </mat-form-field>
    <div>
      <button (click)="onLogin()" [disabled]="loginForm.invalid"
              class="animateMe mat-elevation-z4" color="primary" mat-raised-button>
        Connexion
      </button>
    </div>
  </div>
</div>
