<div class="under-big-body">
  <h2>
    <span class="back-arrow">
      <img alt="Retour" routerLink="/dashboard/voir-documents" src="assets/figmaSVGs/Back_Arrow.svg">
    </span>
    La liste des {{getH1Title()}} de vos agents
  </h2>
  <mat-form-field *ngIf="showDossiers$ | async" appearance="fill">
    <input [formControl]="searchControl" matInput placeholder="Rechercher fichier par nom de l'agent" type="text">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <ng-container *ngIf="showDossiers$ | async else emptyFolder">
    <div *ngIf="searchControl.value && (lesDossiers$ | async)!.length<1" class="not-found">
      <img alt="warning" src="assets/figmaSVGs/danger.svg">
      <p>Pas de fichier du type {{getDescription()}} pour l'agent <strong>{{searchControl.value}}</strong></p>
    </div>
    <div class="list-folders">
      <div *ngFor="let dossier of lesDossiers$ | async" class="oneFolder">
        <svg (click)="onDisplayFile(dossier)" fill="none" height="173" viewBox="0 0 129 173" width="129"
             xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M127.037 30.8668L96.1703 0L1 0C0.447715 0 0 0.447721 0 1.00001V171.407C0 171.96 0.447711 172.407 0.999996 172.407H126.037C126.589 172.407 127.037 171.96 127.037 171.407V30.8668Z"
                fill="#0082BB"
                fill-rule="evenodd"/>
          <path d="M92.9115 35.2769L93.5687 6.95074L121.242 34.8441L92.9115 35.2769Z" fill="white"/>
        </svg>
        <p>{{getDescription()}} de <strong>{{dossier.acces.name | formatName: 'name'}}</strong></p>
      </div>
    </div>

  </ng-container>

</div>
<ng-template #emptyFolder>
  <div *ngIf="!searchControl.value" class="folder-empty">
    <img alt="empty Folder" src="assets/figmaSVGs/empty_folder.svg">
    <p>Ce dossier est vide</p>
    <p>Ajoutez les {{getH1Title()}} de vos agents pour la configuration de vos points</p>
    <button class="animateMe mat-elevation-z2"
            color="primary" mat-raised-button routerLink="/dashboard/mes-agents">
      <mat-icon>create_new_folder</mat-icon>
      <span>Importer pour remplir</span>
    </button>
  </div>
</ng-template>
