<mat-sidenav-container>
  <mat-sidenav [(opened)]="isOpen" mode="side">
    <p>Onboarding</p>

    <mat-divider></mat-divider>
    <button aria-label="icône Agents" class="menu-button" mat-button routerLink="/dashboard/mes-agents">
      <mat-icon>list_alt</mat-icon>
      <span>Liste des agents</span>
    </button>
    <mat-divider></mat-divider>
    <button aria-label="icône Dossiers" class="menu-button" mat-button routerLink="/dashboard/voir-documents">
      <mat-icon>folder_shared</mat-icon>
      <span>Les documents</span>
    </button>
    <mat-divider></mat-divider>
    <button aria-label="icône Points" class="menu-button" mat-button routerLink="/dashboard/voir-documents/geoloc">
      <mat-icon>location_on</mat-icon>
      <span>Les points</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button (click)="isOpen = !isOpen" aria-label="menu icon" mat-icon-button>
        <mat-icon *ngIf="!isOpen">menu</mat-icon>
        <mat-icon *ngIf="isOpen">close</mat-icon>
      </button>
      <span class="get-space">Mon Espace de configuration</span>
      <span class="example-spacer"></span>
      <div class="divInfo">
        <span *ngIf="commercant"> {{ commercant!.name | formatName: 'name'}}</span>
        <button [matMenuTriggerFor]="menu" mat-button>
          <img alt="avatar" src="assets/images/profiles/user.png" style="width: 2rem; height: 2rem">
          {{authService.currentUserValue.roles.includes('COMMERCANT') ? ('commerçant' | uppercase) : 'SUPERVISEUR'}}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            Profil
          </button>
          <button (click)="logOut()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            Deconnexion
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
