<div class="header-actions" mat-dialog-title>
  <svg [mat-dialog-close]="false" fill="none" height="36" viewBox="0 0 36 36"
       width="36" xmlns="http://www.w3.org/2000/svg">
    <circle cx="18" cy="18" fill="#F2F2F2" r="18"/>
    <path d="M23.8369 11.0019L11.8369 25.0019" stroke="black" stroke-width="2"/>
    <path d="M23.8347 25.0038L11.8392 11" stroke="#0F0E0E" stroke-width="2"/>
  </svg>
  <div (click)="onDownLoad()" class="icon-bg mat-elevation-z2 animateMe"
       matTooltip="Télécharger le document" matTooltipClass="tool-tip-class">
    <mat-icon>file_download</mat-icon>
  </div>
</div>

<div class="content-actions" mat-dialog-content>
  <p>{{getParagraph(data.typeFile)}} de <strong>{{data.agentName | formatName:'name'}}</strong></p>
  <pdf-viewer external-link-target="blank"
              [original-size]="false"
              [show-all]="true"
              [src]="protectedURL()"
              [zoom]=".8">
  </pdf-viewer>
</div>
