table {
  margin-top: 2rem;
  width: 100%;
  border-top-right-radius: .45rem;
  border-top-left-radius: .45rem;
  overflow: hidden;

  th {
    color: black;
    font-size: 1rem;
    font-weight: 500;
  }
}
