<div class="under-big-body">
  <h2>La liste des points de vos agents</h2>
  <div class="hearder-actions">
    <mat-form-field appearance="fill">
      <mat-label>Rechercher</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input #inputValue (keyup)="applyFilter($event)" matInput placeholder="Rechercher">
    </mat-form-field>

    <button class="animateMe mat-elevation-z4" color="primary" mat-raised-button routerLink="/dashboard/voir-documents"
            style="float: right">
      <mat-icon>folder</mat-icon>
      Voir les dossiers
    </button>
  </div>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!-- NAME Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Nom</th>
      <td *matCellDef="let element" mat-cell> {{element.name | formatName: 'name'}} </td>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="latitude">
      <th *matHeaderCellDef mat-header-cell> Latitude</th>
      <td *matCellDef="let element" mat-cell> {{element.latitude}} </td>
    </ng-container>

    <!-- Longitude Column -->
    <ng-container matColumnDef="longitude">
      <th *matHeaderCellDef mat-header-cell> Longitude</th>
      <td *matCellDef="let element" mat-cell> {{element.longitude}} </td>
    </ng-container>

    <!-- ACTION Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let row" mat-cell>
        <a [href]="'http://maps.google.com/maps?z=18&q='+row.latitude+','+row.longitude" target="_blank">Voir sur google
          Maps</a>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="5">Aucune donnée correspondant à la recherche "{{inputValue.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 8, 12, 15, 25, 50]" aria-label="Select page of users"
                 class="mat-elevation-z4"></mat-paginator>
</div>
