.big-body {
  margin-inline: 1rem;
  padding-top: .5rem;

  table {
    margin-top: 2rem;
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    overflow: hidden;

    th {
      font-size: 1.5rem;
      font-weight: 750;
    }
  }

  mat-paginator {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

.hearder-actions {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  button {
    margin-top: 1rem;
    height: 50%;
    text-align: center;

    mat-icon {
      margin-right: 1rem;
    }
  }

  mat-form-field {
    width: 60%;
    height: 50%;
    text-align: center;

    mat-icon {
      color: gray;
    }
  }
}


