/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;


  .animateMe:hover {
    transform: scale(1.1);
  }

  .animateMeBig:hover {
    transform: scale(1.7);
  }

  .tool-tip-class {
    background: #004a9f;
    color: white;
    font-size: .8rem;
    font-weight: 475;
  }

  .under-big-body {
    padding-inline: 1rem;
    padding-top: .5rem;
    background-color: white;
    border-radius: 1rem;
  }

  .snack-success {
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bold;
  }

  .snack-warn {
    background-color: orange;
    color: white;
  }

  .snack-danger {
    background-color: #e8adad;
    color: darkred;
    font-weight: bold;
  }
}
