/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;

  h1, h2, h3, h4 {
    font-weight: 400;
  }

  .animateMe:hover {
    //transform: scale(1.2);
    opacity: .65;
  }

  .animateMeBig:hover {
    transform: scale(1.7);
    opacity: .8;
  }

  .tool-tip-class {
    background: #004a9f;
    font-size: .8rem;
    font-weight: 475;
    text-align: justify;
  }

  .under-big-body {
    padding-inline: 1rem;
    padding-top: 1rem;
    background-color: white;
    border-radius: .5rem;
  }

  .snack-success {
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bold;
  }

  .snack-warn {
    background-color: orange;
    color: white;
  }

  .snack-danger {
    background-color: #e8adad;
    color: darkred;
    font-weight: bold;
  }

  .list-folders {
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;

    .oneFolder {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 16rem;
      margin-bottom: 1.5rem;

      p {
        font-size: .9rem;
        text-align: center;
        word-break: break-word;
      }
    }

    .oneFolder:not(:last-child) {
      margin-right: 2rem;
    }
  }

}

.back-arrow {
  vertical-align: middle; /* Aligner verticalement au milieu */
  display: inline-block;
}

.secondTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.hearder-actions {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  button {
    margin-top: 1rem;
    height: 50%;
    text-align: center;

    mat-icon {
      margin-right: 1rem;
    }
  }

  mat-form-field {
    width: 60%;

    mat-icon {
      color: gray;
      margin-right: 1rem;
    }
  }
}

.not-found {
  margin-top: 3rem;
  margin-left: 25%;

  img {

    float: left;
  }

  p {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 450;
    font-style: italic;
    color: lightcoral;
  }
}
