<input (change)="getEvent($event)" accept="application/pdf" hidden id='file_uploader' type='file'/>
<ng-container *ngIf="!(showDossiersAgent$ | async) else listerDossiers">
  <h2>Configurer le dossier de l'agent <em *ngIf="currentAgent"
                                           style="color: blue">{{currentAgent!.name | formatName: 'name'}}</em></h2>

  <mat-accordion class="example-headers-align" multi>
<!--    <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{getParagraphMessageByType('geoloc')}}
        </mat-panel-title>
        <mat-panel-description>
          Choisissez le point d'emplacement de l'agent
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card [formGroup]="positionForm">
        <mat-card-subtitle>Pour configurer la localisation du point de votre agent,
          <a href="https://www.google.com/maps/place/Dakar" matTooltip="Une fois sur Maps, faites un clic droit
          sur l'emplacement de l'agent. Cliquez de nouveau sur les nombres du modal qui s'affiche, revenez ici
          et collez (Ctrl + V) dans le champ 'Position'." matTooltipClass="tool-tip-class"
             target="_blank">cliquez ici</a>
        </mat-card-subtitle>
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Position</mat-label>
            <input formControlName="position" matInput placeholder="latitude, longitude" type="text">
            <mat-error>{{getFormControlErrorText(positionForm.controls['position'])}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <mat-action-row>
        <button (click)="nextStep()" [disabled]="positionForm.invalid" color="primary" mat-button>Suivant</button>
      </mat-action-row>
    </mat-expansion-panel>-->

    <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Renseignements
        </mat-panel-title>
        <mat-panel-description>
          <span>Remplir les templates</span>
          <mat-icon>hub_outlined</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="connaissanceContent">
        <p>Comment ça marche ?</p>
        <p>Voici les étapes à suivre pour télécharger <strong> <a download="Fiche_Connaissance"
                                                                  href="assets/fileTemplates/Fiche_Connaissance.xlsx">
          le template</a></strong> et l’importer dans le dossier de l’agent</p>
        <div class="cardsDescribers">
          <div class="myCard">
            <img alt="etape 1" src="assets/figmaSVGs/step1.svg">
            <p>Télécharger</p>
            <p>Téléchargez le template
              en cliquant sur le boutton <strong>télécharger le template</strong></p>
          </div>
          <img alt="First Arrow" src="assets/figmaSVGs/firstArrow.svg">
          <div class="myCard">
            <img alt="etape 2" src="assets/figmaSVGs/step2.svg">
            <p>Imprimer et remplir à la main</p>
            <p>Imprimez le template que vous venez de télécharger, renseignez les informations à la main et signez. </p>
          </div>
          <img alt="Second Arrow" src="assets/figmaSVGs/secondArrow.svg">
          <div class="myCard">
            <img alt="etape 3" src="assets/figmaSVGs/step3.svg">
            <p>Scanner et importer </p>
            <p>Scannez le template sous format PDF et importe le dans la partie suivante <b>Documentation</b></p>
          </div>
        </div>
        <button (click)="onDownloadTemplate('Fiche_Connaissance')" color="primary" mat-stroked-button
                style="outline: #0c5492 solid 1px">
          <img alt="download" src="assets/figmaSVGs/export.svg">
          Télécharger la <em>Fiche Connaissance</em>
        </button>
        <button (click)="onDownloadTemplate('Declaration_Honneur')" color="primary" mat-stroked-button
                style="outline: #0c5492 solid 1px">
          <img alt="upload" src="assets/figmaSVGs/export.svg">
          Télécharger la <em>Déclaration sur l'honneur</em>
        </button>
      </div>
      <mat-action-row>
        <!--        <button (click)="prevStep()" color="warn" mat-button>-->
        <!--          Précédent-->
        <!--        </button>-->
        <button (click)="nextStep()" color="primary" mat-button>
          Suivant
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Documentation
        </mat-panel-title>
        <mat-panel-description>
          Importer les fichiers de votre agent
          <mat-icon>create_new_folder</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3>Quel est le statut de cet agent</h3>
      <div class="statut-agent">
        <mat-radio-group [(ngModel)]="typeAgent" color="primary">
          <mat-radio-button value="informel">Informel</mat-radio-button>
          <mat-radio-button value="formel">Formel</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-grid-list cols="2" rowHeight="10rem">

        <ng-container *ngFor=" let key of informelMapKeys">
          <mat-grid-tile>
            <div class="upload-file">
              <p>{{getParagraphMessageByType(key)}}</p>
              <button (click)="onUpload(key)" [matTooltip]="getTooltipContent('gotImage')"
                      mat-stroked-button matTooltipClass="tool-tip-class">
          <span
            [ngClass]="{'success-upload': progressMap.get(key) === 100}">
            {{!progressMap.get(key) || (progressMap.get(key) <= 3) ? 'Importer l\'image scannée ou le fichier' :
            fileMap.get(key)?.name || 'Aucun fichier' | formatName: 'filename'}}
          </span>
                <mat-icon color="primary">image</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div *ngIf="fileMap.get(key)" class="uploaded-file">
              <div class="div1">
                <img alt="logo PDF" src="assets/images/logos/pdf-logo.png">
              </div>
              <div class="div2">
                <span *ngIf="!fileMap.get(key)"><em>{{getParagraphMessageByType(key)}}</em></span>
                <span *ngIf="fileMap.get(key)"
                      [ngClass]="progressMap.get(key)! < 15 ? 'echec-upload' : 'success-upload'">
            {{fileMap.get(key)!.name | formatName: 'filename'}}
          </span>
              </div>
              <div class="div3">
                <mat-progress-bar [color]="progressMap.get(key)! < 15 ? 'warn': 'primary'"
                                  [value]="progressMap.get(key)"
                                  mode="determinate">

                </mat-progress-bar>
              </div>
              <div class="div4">
                <svg *ngIf="progressMap.get(key)! >= 90" fill="none" height="27" viewBox="0 0 26 27" width="26"
                     xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="13" cy="13.5" fill="#30BD58" rx="13" ry="13.5"/>
                  <path d="M6.5 13.5003L11.7 17.5503L18.2 8.10034" stroke="white" stroke-linecap="round"
                        stroke-width="2"/>
                </svg>
              </div>
              <div class="div5">
                <mat-icon (click)="removeFile(key)" class="animateMe" color="warn">delete</mat-icon>
              </div>
              <div class="div6"><span *ngIf="fileMap.get(key)"> {{fileMap.get(key)!.size | formatFileSize}}</span>
              </div>
            </div>
          </mat-grid-tile>
        </ng-container>

        <mat-grid-tile *ngIf="typeAgent==='formel'">
          <div class="upload-file">
            <p>{{getParagraphMessageByType('residence')}}</p>
            <button (click)="onUpload('residence')" [matTooltip]="getTooltipContent('document')"
                    mat-stroked-button matTooltipClass="tool-tip-class">
          <span
            [ngClass]="{'success-upload': progressMap.get('residence') === 100}">
            {{!progressMap.get('residence') || (progressMap.get('residence') <= 3) ? 'Importer l\'image scannée ou le fichier' :
            fileMap.get('residence')?.name || 'Aucun fichier' | formatName: 'filename'}}
          </span>
              <mat-icon color="primary">insert_drive_file</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="typeAgent==='formel'">
          <div *ngIf="fileMap.get('residence')" class="uploaded-file">
            <div class="div1"><img alt="logo PDF" src="assets/images/logos/pdf-logo.png"></div>
            <div class="div2">
              <span *ngIf="!fileMap.get('residence')"><em>{{getParagraphMessageByType('residence')}}</em></span>
              <span *ngIf="fileMap.get('residence')"
                    [ngClass]="progressMap.get('residence')! < 15 ? 'echec-upload' : 'success-upload'">{{fileMap.get('residence')!.name | formatName: 'filename'}}</span>
            </div>
            <div class="div3">
              <mat-progress-bar [color]="progressMap.get('residence')! < 15 ? 'warn': 'primary'"
                                [value]="progressMap.get('residence')"
                                mode="determinate">

              </mat-progress-bar>
            </div>
            <div class="div4">
              <svg *ngIf="progressMap.get('residence')! >= 90" fill="none" height="27" viewBox="0 0 26 27" width="26"
                   xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="13" cy="13.5" fill="#30BD58" rx="13" ry="13.5"/>
                <path d="M6.5 13.5003L11.7 17.5503L18.2 8.10034" stroke="white" stroke-linecap="round"
                      stroke-width="2"/>
              </svg>
            </div>
            <div class="div5">
              <mat-icon (click)="removeFile('residence')" class="animateMe" color="warn">delete</mat-icon>
            </div>
            <div class="div6"><span
              *ngIf="fileMap.get('residence')"> {{fileMap.get('residence')!.size | formatFileSize}}</span></div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="typeAgent==='formel'">
          <div class="upload-file">
            <p>{{getParagraphMessageByType('statut')}}</p>
            <button (click)="onUpload('statut')" [matTooltip]="getTooltipContent('document')"
                    mat-stroked-button matTooltipClass="tool-tip-class">
          <span
            [ngClass]="{'success-upload': progressMap.get('statut') === 100}">
            {{!progressMap.get('statut') || (progressMap.get('statut') <= 3) ? 'Importer l\'image scannée ou le fichier' :
            fileMap.get('statut')?.name || 'Aucun fichier' | formatName: 'filename'}}
          </span>
              <mat-icon color="primary">insert_drive_file</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="typeAgent==='formel'">
          <div *ngIf="fileMap.get('statut')" class="uploaded-file">
            <div class="div1"><img alt="logo PDF" src="assets/images/logos/pdf-logo.png"></div>
            <div class="div2">
              <span *ngIf="!fileMap.get('statut')"><em>{{getParagraphMessageByType('statut')}}</em></span>
              <span *ngIf="fileMap.get('statut')"
                    [ngClass]="progressMap.get('statut')! < 15 ? 'echec-upload' : 'success-upload'">{{fileMap.get('statut')!.name | formatName: 'filename'}}</span>
            </div>
            <div class="div3">
              <mat-progress-bar [color]="progressMap.get('statut')! < 15 ? 'warn': 'primary'"
                                [value]="progressMap.get('statut')"
                                mode="determinate">

              </mat-progress-bar>
            </div>
            <div class="div4">
              <svg *ngIf="progressMap.get('statut')! >= 90" fill="none" height="27" viewBox="0 0 26 27" width="26"
                   xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="13" cy="13.5" fill="#30BD58" rx="13" ry="13.5"/>
                <path d="M6.5 13.5003L11.7 17.5503L18.2 8.10034" stroke="white" stroke-linecap="round"
                      stroke-width="2"/>
              </svg>
            </div>
            <div class="div5">
              <mat-icon (click)="removeFile('statut')" class="animateMe" color="warn">delete</mat-icon>
            </div>
            <div class="div6"><span
              *ngIf="fileMap.get('statut')"> {{fileMap.get('statut')!.size | formatFileSize}}</span></div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="save-files">
            <button (click)="prevStep()" color="warn" mat-button>Précédent</button>
            <button (click)="onSaveDossier()" class="animateMe mat-elevation-z4" color="primary" mat-raised-button>
              <mat-icon>drive_folder_upload</mat-icon>
              <span>Sauvegarder</span>
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-expansion-panel>
  </mat-accordion>

</ng-container>

<ng-template #listerDossiers>
  <div class="secondTitle">
    <h2>Lister les fichiers du dossier de l'agent <em *ngIf="currentAgent"
                                                      style="color: blue">{{currentAgent!.name | formatName: 'name'}}</em>
    </h2>
    <button [matMenuTriggerFor]="menu" aria-label="Example button with a menu" mat-raised-button>
      <mat-icon>more_vert</mat-icon>
      <span>Actions</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/voir-documents">
        <mat-icon>contact_page</mat-icon>
        <span>Voir tous les dossiers</span>
      </button>
      <button mat-menu-item routerLink="/dashboard/mes-agents">
        <mat-icon>create_new_folder</mat-icon>
        <span>Continuer d'importer</span>
      </button>
      <button (click)="onDeleteAgentDossiers()" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Supprimer les fichiers de l'agent</span>
      </button>
    </mat-menu>
  </div>

  <div class="list-folders">
    <div *ngFor="let dossier of lesDossiers$ | async" class="oneFolder">
      <svg (click)="onDisplayFile(dossier)" fill="none" height="173" viewBox="0 0 129 173" width="129"
           xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M127.037 30.8668L96.1703 0L1 0C0.447715 0 0 0.447721 0 1.00001V171.407C0 171.96 0.447711 172.407 0.999996 172.407H126.037C126.589 172.407 127.037 171.96 127.037 171.407V30.8668Z"
              fill="#0082BB"
              fill-rule="evenodd"/>
        <path d="M92.9115 35.2769L93.5687 6.95074L121.242 34.8441L92.9115 35.2769Z" fill="white"/>
      </svg>
      <p>{{dossier.name | formatName: 'server_filename'}}</p>
    </div>
  </div>
  <!--  <hr>
    <h3>Localisation du point de l'agent</h3>
    <mat-card *ngIf="geolocalisation" class="mat-elevation-z2 geolocalisation">
      <p>Latitude: {{geolocalisation.latitude}}</p>
      <p>Longitude: {{geolocalisation.longitude}}</p>
      <a [href]="'http://maps.google.com/maps?z=18&q='+geolocalisation.latitude+','+geolocalisation.longitude"
         target="_blank">Voir sur google Maps</a>
    </mat-card>-->

</ng-template>


